*{
    margin: 0;
    padding: 0;
    
}


 :root{
    --primary-color:#fff;
    --secondary-color:#000;
}
.dark-theme{
    --primary-color:#000;
    --secondary-color:#fff;
}
.clock-display{
    
    height: 100vh; 
    gap: 50px;
    background: var(--primary-color);
    color: var(--secondary-color)
    
  }




  .displayClock {
   

    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9vw;
    letter-spacing: 5px;
    text-shadow: 0px 0px 20px rgba(249, 132, 132, 100);
  }

  #icon{
    width: 30px;
    cursor: pointer;
  }

  #head-text{
    font-family:Impact, Haettenschweiler;
  }

  .theme{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px #000;
  }